.header__title{
    font-size: 35px;
    border-bottom: 1px solid rgba(84, 84, 84, 1)
}

.header__subtitle{
    font-size: 10px;
    vertical-align: top;
}
.header__container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header__image{
    max-width: 170px;
    border-radius: 80%;
    object-fit: cover;
}

.header__name{
    font-size: 42px;
}

.header__activity{
    font-size: 18px;
}

.header__button_edit{
    background: none;
    color: white;
    border-color: white;
    height: 20px;
    align-self: center;
    margin-bottom: 40px;
}

.header__button_edit:hover{
    opacity: .5;
}

.header__form{
    display: block;
}

.header__button_add{
    display: flex;
    width: 150px;
    height: 50px;
    background: none;
    color: white;
    border-color: white;
    font-size: 59px;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.header__button_add:hover{
    opacity: .5;
}


@media screen and (max-width: 320px) {
    .header__container{
        flex-direction: column;
        align-items: center;
    }

    .header__name{
        text-align: center;
    }
    
    .header__activity{
        text-align: center;
    }
}