.popup{
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.popup_opened{
    display: flex;
}

.popup__form{
    background-color: white;
    color: black;
    padding: 20px;
}

.popup__close{
    display: grid;
    position: relative;
    left: 300px;
    bottom: 80px;
    background-color: transparent;
    border: none;
    font-size: 50px;
    color: white;
}

.popup__close:hover{
    opacity: .5;
}

.popup__title{
    position: relative;
    bottom: 80px;
}

.popup__name{
    font-size: 20px;
    border: none;
    border-bottom: 1px solid rgba(84, 84, 84, 1);
    margin: 15px;
}

.popup__about{
    font-size: 20px;
    border: none;
    border-bottom: 1px solid rgba(84, 84, 84, 1);
    margin: 15px;
}

.popup__save{
  background: rgba(0, 0, 0, 1);
  color: white;
  border: 1px solid gray;
  transition: background-color 0.3s ease;
  align-self: center;
  font-size: 30px;
  margin: 15px;
  width: 93%;
  padding: 15px;
}

.popup__save:hover{
    opacity: .5;
}


@media screen and (max-width: 320px) {
    .popup__form{
        width: 230px;
        padding: 0;
    }

    .popup__name{
        margin: 0;
        width: 98%;
    }

    .popup__about{
        margin: 0;
        width: 98%;
    }

    .popup__close{
        left: 220px;
    }
}